.trimBar {
    position: relative;
    width: 80%;
    margin: auto;

}
.trimBar .sliderBackground {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    background: #000000;

}
.trimBar .sliderStart {
    width: 10px;
    height: 65px;
    border-radius: 10px 0 0 10px;
    background: #E2B425;
    cursor: ew-resize;
    z-index:1
}
.trimBar .sliderEnd {
    width: 10px;
    height: 65px;
    border-radius: 0 10px 10px 0;
    background: #E2B425;
    cursor: ew-resize;
    z-index:1
}
.trimBar .sliderEmpty {
    height: 80px;
    background: black;
    opacity: 0.7;

    z-index:1
}

.trimBar .sliderCenter {
    height: 60px;
    border: 3px solid #E2B425;
    z-index:1
}

.trimBar .videoImages {
    position: absolute;
    height: 80px;
    width: 100%;
    top: 10px;
    opacity: 0.8;
    z-index: 0;
}

.trimBar .videoImages img {
    height: 60px
}

.trimBar .videoProgressCursor {
    position: absolute;
    display: flex;
    align-items: center;
    height: 80px;
    width:100%;
}
.trimBar .videoProgressCursor .videoProgressCursorGroup {
    display: flex;
    flex-direction: column;
}
.trimBar .videoProgressCursor .videoProgressCursorIcon{
    position: relative;
    left: -6px;
    height: 15px;
    z-index: 5;
    cursor: pointer;
    transform: rotate(180deg);

}

.trimBar .videoProgressCursor .videoProgressCursorLine{
    position: relative;
    width: 3px;
    height: 60px;
    background: white;
    cursor: pointer;
    z-index: 5;
}


